body {
    display: flex;
    flex-direction: column;
    background-image:url('bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    background-position: center;
    min-height: 100vh;
}
h1{
    color :blanchedalmond
}
#form1 {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 10px;
    justify-items: center;
}
.submit{
    margin-top: 10px;
    padding: 7px;
    border-radius: 5px;
    background-color: coral;
    color: white;
    border: none;
    cursor: pointer;
}
.submit:disabled{
    background-color: rgb(255, 181, 150);
    cursor: not-allowed;
    opacity: 0.7;

}
.labels {
    margin: 5px 0px ;
}
.inputs{
    border: 1px solid #faebd7;
    padding : 5px;
    border-radius: 5px;
    outline: none;
}
.inputs:focus {
    box-shadow: none;    
}
.error,#errors{
    color:red;
    margin-top : 5px;
    font-size: small;
    max-width: 250px;          
    word-wrap: break-word;
}
#terms{
    display: flex;
    font-size: small;
    gap:7px
}
label >span{
    color: red;
}

#terms_cond{
    color:blue
}
#terms_cond:hover{
    color: rgb(0, 0, 135);
    cursor:pointer
}
#tandc{
    padding-top: 5px;
}

@media screen and (min-width:768px) {
    #form1{
        max-width:max-content
    }
    .inputs{
        width:250px;
    }
}
@media screen and (min-width:1024px){
    #form1{
        max-width: fit-content;
    }
    .inputs{
        width:250px;
    }
}


#loader {
    position: fixed;
    inset: 0;
    background: linear-gradient(135deg, #4B4FCB, #8E92DB, #696FC7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    opacity: 0.6;
}



.ai-ring {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 6px solid rgba(255, 255, 255, 0.2);
    border-top: 6px solid #ffffff;
    animation: spin 1.2s linear infinite;
    margin: 0 auto 20px;
}



@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes pulse {
    0% {
        opacity: 0.6;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.6;
    }
}

@media (max-width: 768px) {
    .ai-ring {
        width: 70px;
        height: 70px;
        border-width: 5px;
    }

    
}

