*{
    background-image:url('bg1.jpg');
    background-repeat: repeat;
    background-size: cover;
    background-position: right top;
}

form{
    padding: 10px;
    background-color: antiquewhite;
    justify-items: center;
}